-------------------------------------------------------Global
  CSS-------------------------------------------------------
  * {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  color: black;
  background-color: ghostwhite;

  /* outline: auto;
  outline-color: red; */
}

/*--------------------------------------------- Title CSS--------------------------------------------- */

.title {
  margin: 20px;
  text-align: center;
}
/*-------------------------------------------------------Main Container CSS-------------------------------------------------------*/

.main {
  outline: auto;
  outline-color: black;
  margin: auto;
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

/*-------------------------------------------------------Games-board CSS-------------------------------------------------------*/

.btn {
  height: 100px;
  width: 100px;
}

.btn:active {
  background-color: red;
}

.btn:hover {
  cursor: pointer;
}

.gamesBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardPos1 {
  grid-area: 1 / 1 / 2 / 2;
}
.boardPos2 {
  grid-area: 1 / 2 / 2 / 3;
}
.boardPos3 {
  grid-area: 1 / 3 / 2 / 4;
}
.boardPos4 {
  grid-area: 2 / 1 / 3 / 2;
}
.boardPos5 {
  grid-area: 2 / 2 / 3 / 3;
}
.boardPos6 {
  grid-area: 2 / 3 / 3 / 4;
}
.boardPos7 {
  grid-area: 3 / 1 / 4 / 2;
}
.boardPos8 {
  grid-area: 3 / 2 / 4 / 3;
}
.boardPos9 {
  grid-area: 3 / 3 / 4 / 4;
}
